body {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    margin-bottom: 50px;
}
h1 {
  margin: 0.2em 20%;
  text-align: left;
}
input {
    width: 20em;
    padding: 0.5em 1em;
    font-family: 'Catamaran', sans-serif;
}
input[type='button'] {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
}
input[type='button']:hover, #new_post_btn:hover {
  background-color: #fafafa;
}

.shaking {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#heading {
  background-color: #fafafa;
  border-bottom: 1px solid #777;
  padding: 0.5em;
  text-align: left;
  padding-left: 25%;
}
#heading input {
  width: 10em;
  padding: 0.2em 0.5em;
}
.post {
  width: 60%;
  margin: auto;
  text-align: left;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-bottom: 5px solid #eee;
  padding: 2em 5em;
}
.post p {
  font-size: 1.5em;
  margin: 0;
}
.post button {
  background-color: #fafafa;
  border: none;
  margin: auto auto auto 2em;
  cursor: pointer;
  font-size: 0.9em;
}
.post img {
  max-width: 100%;
}
.post_footer {
  font-size: 1em;
  color: #777;
}
.comments {
  display: none;
  background-color: #fdfdfd;
}
.comments p {
  font-size: 1em;
  color: #444;
  margin: 1em 3em;
}
#searchboxresults {
  background-color: #fff;
  border: 1px solid #ddd;
  min-width: 9.1em;
  top: 2.4em;
  left: 25%;
  position: absolute;
  display: none;
  text-align: left;
}
.search-result p{
  padding: 0.2em 0.7em;
  margin: 0;
  cursor: pointer;
}
#searchboxresults a{
  color: #444;
  text-decoration: none;
}
.search-result p:hover {
  background-color: #eee;
}
#h1_username {
  display: inline-block;
  margin: 0.2em 0px 0.2em 15%;
  width: 40%;
}
#new_post_btn {
  display: inline-block;
  width: 20%;
  min-height: 3em;
  margin: auto 15% auto 0px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
}
#foll_unfoll_form {
  display: inline-block;
  width: 20%;
  margin: auto 15% auto 0px;
  
}
#foll_unfoll_btn {
  min-height: 3em;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
}
#new_post_form {
  display: none;
  margin: 1em auto;
  background-color: #fafafa;
  border: 1px solid #eee;
  width: 73%;
}
#close_form {
  font-size: 2em;
  width: 2em;
  padding: 0em;
  margin: 0em;
  margin-left: -2em;
  border: none;
  float: right;
  background-color: #fafafa;
  color: #444;
}
#close_form:hover, .post_btn:hover, #foll_unfoll_btn:hover {
  background-color: #fafafa;
  color: #000;
}
.post_btn {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
}
.bottom_msg {
  margin-top: 2em;
}