body {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    margin-bottom: 50px;
}
input {
    width: 20em;
    padding: 0.5em 1em;
    font-family: 'Catamaran', sans-serif;
}
input[type='button'] {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
}
input[type='button']:hover {
  background-color: #fafafa;
}

.shaking {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#heading {
  background-color: #fafafa;
  border-bottom: 1px solid #777;
  padding: 0.5em;
}
#heading input {
  width: 10em;
  padding: 0.2em 0.5em;
}
.post {
  width: 70%;
  margin: auto;
  text-align: left;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-bottom: 5px solid #eee;
  padding: 2em;
}
.post p {
  font-size: 1.5em;
  margin: 0;
}
.post button {
  background-color: #fafafa;
  border: none;
  margin: auto auto auto 2em;
  cursor: pointer;
  font-size: 0.9em;
}
.post_footer {
  font-size: 1em;
  color: #777;
}